/* <+====================CUSTOMER====================+> */

@font-face {
  font-family: 'Manrope-blod';
  src: url('../fonts/manrope-extrabold.otf');
}

@font-face {
  font-family: 'Manrope-medium';
  src: url('../fonts/manrope-medium.otf');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope-medium', sans-serif;
  max-width: 100%;
}

:root {
  --primary-color: #FF8142;
  --primary-color-transparent: rgba(255, 129, 66, 0.1);
  --secondary-color: #00334E;
  --secondary-color-transparent: rgba(0, 51, 78, 0.1);
  --danger-color: #FF5836;
  --danger-color-transparent: rgba(255, 88, 54, 0.1);
  --info-color: #0FC1DA;
  --info-color-transparent: rgba(15, 193, 218, 0.1);
  --success-color: #19CFA2;
  --success-color-transparent: rgba(25, 207, 162, 0.1);
  --muted-color: #919BA4;
  --muted-color-transparent: rgba(145, 155, 164, 0.1);
}

.container {
  max-width: 100%; /* Chiếm 100% chiều rộng */
  margin-left: auto; /* Căn giữa */
  margin-right: auto; /* Căn giữa */
  padding-left: 15px; /* Khoảng cách bên trái */
  padding-right: 15px; /* Khoảng cách bên phải */
}

/* Tối đa chiều rộng cho các kích thước màn hình */
@media (min-width: 576px) {
  .container {
      max-width: 540px; /* Chiều rộng tối đa cho màn hình nhỏ */
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px; /* Chiều rộng tối đa cho màn hình vừa */
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px; /* Chiều rộng tối đa cho màn hình lớn */
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px; /* Chiều rộng tối đa cho màn hình rất lớn */
  }
}

@media (min-width: 1400px) {
  .container {
      max-width: 1320px; /* Chiều rộng tối đa cho màn hình siêu lớn */
  }
}
.container-fluid {
  width: 100%; /* Chiếm 100% chiều rộng */
  margin-left: auto; /* Căn giữa */
  margin-right: auto; /* Căn giữa */
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.text-danger {
  color: var(--danger-color);
}

.bg-info {
  background-color: var(--info-color);
}

.text-info {
  color: var(--info-color);
}

.bg-success {
  background-color: var(--success-color);
}

.text-success {
  color: var(--success-color);
}

.bg-muted {
  background-color: var(--muted-color);
}

.text-muted {
  color: var(--muted-color);
}
.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}
/* <+====================header====================+> */
header{
  padding:20px;
}
.header--icon{
  margin: 5px;
}
